doctype html
html
    head
        title users
    body
        h1 #{title}

        // register form
        form(method='POST' action='/add/user')
            div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
            div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')    
            div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
            button.btn.btn-primary(type='submit') Sign up